
.footerMain{

    flex-direction: column;
}



.footerCR{
    background-color: #070707;
    color: white;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.socialLinks a{

    margin: 10px 15px;
    text-decoration: none;
    color: white;
}

.socialLinks a:hover{

    text-decoration: underline;
}
