body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbarHome{

    background-color: black;
    height: 60px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.linkOnline{
    text-decoration: none;
    color: white;
    padding-top: 3.5%;
    font-size: 20px;
    border-right: solid rgb(102, 83, 51) 0.5px;
    border-left: solid rgb(102, 83, 51) 0.5px;
}

.linkOnline:hover{
     background-color: rgb(87, 69, 40);

}
