

.boxCard{

    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projectBackground{

    margin: 10px;
    
}

.titlePage{

    font-weight: 800;
    font-size: 60px;
    margin: 10px;
}

.titleBoxes{
    margin-bottom: 10px;
    font-size: 40px;
    
    color: rgb(185, 135, 54);

}


.description{

    margin-right: 20px;
    font-size: 19px;
}

.containerDiv{
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 30%
}