.introductionBox{

    width: 100%;
    background-color: rgb(0, 0, 0);
    color: black;
    display: flex;
    height: 300px;
    margin-top: 10%;
    padding-right: 10px; 
} 

.profilePicture{
    width: 30%;
    padding-left: 30px;
    background-color: white;
}

.nameBackground{

    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.waterSerpents{

    position: absolute;
    z-index: -1;
}

.wholeBox{
    overflow: auto;
}

.cardBusiness{

    margin-left: 25%;
    margin-top: 10%;
    box-shadow: 2px 2px 2px 2px rgb(146, 115, 57);
}