.experiencesBox{

    display: grid;
    grid-template-rows: repeat(5, 400px);
    grid-template-columns: repeat(2, 1fr);

    background-color: rgb(0, 0, 0);

    font-family: 'Roboto Mono', monospace;

}

.projectBackground{

    margin: 10px;
    margin-top: 20px;
    
}

.titlePage{

    font-weight: 800;
    font-size: 60px;
    margin: 10px;
}

.titleBox{
    margin-bottom: 10px;
    font-size: 40px;
}

.backgroundBox{
margin-top: 20px;
}

.description{

    margin-right: 20px;
    font-size: 19px;
}

.cardBusiness{

    margin-top: 10px;
    margin-bottom: 10px;
}